
Debug/Vector.obj
*.idb
*.idb
Debug/Util.obj
Debug/TleException.obj
Debug/Tle.obj
Debug/TimeSpan.obj
Debug/test.obj
*.tlog
Debug/com_command.obj
Debug/com_connect.obj
Debug/comport.obj.enc
*.obj
*.pdb
*.idb
Debug/vc142.idb
