
*.tlog
*.ipch
.vs/Satellite_Tracking_Project/v17/.suo
.vs/Satellite_Tracking_Project/v17/Browse.VC.db-wal
.vs/Satellite_Tracking_Project/v17/Browse.VC.db-shm
.vs/Satellite_Tracking_Project/v17/Browse.VC.db
.vs/Satellite_Tracking_Project/v17/Browse.VC.opendb
Debug/Handler.obj
*.obj
*.recipe
*.log
*.pdb
*.idb
Debug/Satellite_Tracking_Project.vcxproj.FileListAbsolute.txt
Debug/Satellite_Tracking_Project.ilk
Debug/Satellite_Tracking_Project.exe
